extends ../../layout/layout
block title
	title Ворк Про 
block content 
	+breadcrumb(['Главная', 'Рэнкинг'],  'Проект «Рэнкинг-рейтинг частных охранных предприятий РФ» Популярные вопросы по модели Рейтинга.')
	.news-detail 
		.news-detail__top 
			h1.h2 Проект «Рэнкинг-рейтинг частных охранных предприятий РФ» Популярные вопросы по модели Рейтинга.
			ul.news-detail__datetime 
				li 12 июля 2024
				li 21:20
		.news-detail__hr
		.news-detail__content
			.text-block.typography
				h2 Рэнкинг или рейтинг?
				p Наиболее часто в публичном пространстве используют слово «рейтинг», означающее, что все участники про-ранжированы, есть первое место и последнее.
					br
					strong Рэнкинг 
					| - это про присвоение «звезд» (на соответствие стандартам), в зависимости от степени соответствия «идеалу». Более того, понятие рэнкинга подразумевает оценки в нескольких измерениях, плоскостях. Все организации имеют свои особенности и не только определяемые видами их деятельности.  Нельзя объективно определить, что важнее в конкретных условиях, поэтому многоплановость рэнкинга – правильное решение, если не 
					a(href="index.html") единственно 
					| возможное.
					br
					| Почему тогда в документах используем слово «рейтинг»? Это слово более привычно, чаще употребляется. Слово «рэнкинг» весьма сложно использовать в коммуникациях, тем не менее, на платформе будет обязательно подробно это прописано.
			.text-block
				img(src="img/news-1.webp", alt="")
			.text-block.typography
				h2 Рейтинг – это оценка деятельности, качества работы частных охранных предприятий (ЧОП/ЧОО)?
				p Нет, рейтинг в большей степени про прозрачность деятельности ЧОО, соответствие организации действующим стандартам и лучшим практикам отрасли.
					br
					| Ключевые параметры рейтинга:
				ol 
					li Открытость (наличие сайта / страницы в социальной сети, регулярность обновления информации; наличие миссии и актуального описания деятельности; актуальных регистрационных документов, контактов, сведений команде организации, наличие открытой информации о ценах на услугах и пр.);
					li Устойчивость (прозрачность финансовой информации, положительная динамика, отсутствие судебных претензий, нарушений лицензионных требований и т.д.);
					li Управление и риски (наличие материально технической базы, виды деятельности, осуществляющего контроль деятельности организации; наличие высокотехнологичных услуг с использованием инженерно-технических средств; сертификация на соответствие стандарту ИСО 9001–2008, страхование ответственности ЧОО и пр.).
			.text-block.typography
				h3 Какие организации будут представлены  на создаваемой информационно-рейтинговой платформе ЧОО? Сколько примерно ЧОО будет на платформе?
				p На платформе будут представлены ВСЕ российские частные охранные предприятия, внесенные в официальный реестр Росгвардии РФ: 
					br
					| По всем этим организациям отрасли (более 22,8 тысяч ЧОО) будут созданы «карточки» и представлены базовые сведения: контактная информация, направления деятельности, категории благополучателей, финансовая информация (из сведений бухотчетности), включение в различные реестры, членство руководителей (сотрудников) в авторитетных общественных и экспертных советах, профессиональных ассоциациях и пр. 
				p Вся эта информация не будет влиять на рейтинговое значение ЧОО, а только удобно представлена в одном месте - «для сведения».
			.text-block.typography
				h3 Какие благотворительные организации получат рейтинговое (рэнкинговое) значение?
				p Рейтингование будет осуществляться только в отношении тех ЧОО, которые:
				ul 
					li зарегистрированы более 2 лет назад (обязаны были подать отчеты за последние 2 года); сдают отчетность в налоговые органы, внебюджетные фонды и органы статистики (требования, предъявляемые ко всем юр. лицам); осуществляют финансовую деятельность (наличие ненулевых доходов и/или расходов за отчетный период); ЧОО, по которым достаточно данных для рейтингования в соответствии с методикой утвержденной Экспертным советом. Рейтинговое значение будет указано на карточке ЧОО на платформе; у оставшихся ЧОО будет пометка «недостаточно сведений для рейтингования»
					li осуществляют финансовую деятельность (наличие ненулевых доходов и/или расходов за отчетный период); ЧОО, по которым достаточно данных для рейтингования в соответствии с методикой утвержденной Экспертным советом. Рейтинговое значение будет указано на карточке ЧОО на платформе; у оставшихся ЧОО будет пометка «недостаточно сведений для рейтингования».
			.text-block.typography
				h3 А про маленькие региональные ЧОП не забыли? 
				p Чтобы в едином федеральном рейтинге не «терялись» небольшие региональные ЧОО, платформа позволит делать подвыборки по ряду критериев. Это стандартный подход большинства рейтинговых платформ. Например, подборки ЧОП с высоким рейтингом по каждому региону; по тематике, размеру и пр.
			.quote.text-block
				+sprite('quote').quote__icon
				h3 На чьих оценках основан рейтинг? Экспертный совет?
				p Рейтинговое значение будет рассчитано по единой методологии, автоматически. Эта методология утверждена Экспертным советом; при этом члены Экспертного совета непосредственно не участвуют в расчетах рейтинговых значений. Кто входит в Экспертный совет Рейтинга частных охранных предприятий РФ?
				.quote__autor
					img.quote__autor-img(src="img/news-1.webp" alt).quote__autor-img
					.quote__autor-content
						.quote__autor-name Андрей Фомин
						.quote__autor-desc владелец компании ЧОП
			.two-img.text-block
				.two-img__block
					img(src="img/news-1.webp", alt="")
				.two-img__block
					img(src="img/news-1.webp", alt="")
			.text-block
				h2 Откуда мы будем брать информацию для наполнения карточки организации и расчета рейтинга?
				p Большинство сведений мы будем получать автоматически из открытых источников; небольшая часть показателей подразумевает ручной сбор данных (согласно единой утвержденной методологии). Кроме того, у каждой организации будет возможность добавить комментарий или предоставить дополнительные сведения через личный кабинет ЧОО.
			.background-block.text-block
				h3 На чьих оценках основан рейтинг? Экспертный совет?
				p Рейтинговое значение будет рассчитано по единой методологии, автоматически. Эта методология утверждена Экспертным советом; при этом члены Экспертного совета непосредственно не участвуют в расчетах рейтинговых значений. Кто входит в Экспертный совет Рейтинга частных охранных предприятий РФ?
			.text-block.typography
				h3  Рейтинговое значение будет рассчитано по единой методологии, автоматически. Эта методология утверждена Экспертным советом; при этом члены Экспертного совета непосредственно не участвуют в расчетах рейтинговых значений.Кто входит в Экспертный совет Рейтинга частных охранных предприятий РФ?
			.text-block.typography
				h2 Как наш рейтинг соотносится с другими рейтингами и инициативами?
				p Рейтинг частных охранных предприятий будет запущен в 2023 году с учетом имеющегося опыта и отраслевых инициатив. 
					br
					| В рамках текущего проекта проанализированы российские практики, опыт рейтинговых решений максимально учтен и со-настроен с запускаемым рейтингом частных охранных предприятий.
					br
					| В частности, методология Рейтинга разрабатывается на следующих инициативах:
				ol 
					li Инициативах Общероссийского отраслевого объединения работодателей в сфере охраны и безопасности «Федеральный координационный центр руководителей охранных структур», закрепленных в резолюциях съездов;
					li Материалах Технического комитета ТК 208 «Антитеррористическая и охранная деятельность» Российского института стандартизации;
					li Результаты оценки прозрачности сайтов. Материалы этического регулирования (Центр «Трансперенси Интернешнл-Р»);
					li Инициативах Общероссийского профсоюза НСБ;
					li Инициативах Росийского общественного движения «Хранитель России»;
					li Материалах рейтингового агентства Эксперт РА.
			.text-block.typography
				h3 В отличие от других рейтингов и инициатив, запускаемый Рейтинг частных охранных предприятий:
				ul 
					li узконаправленный – только организации отрасли;
					li сфокусированный и строгий – только официально действующие ЧОО;
					li сплошной, а не выборочный – абсолютно все российские ЧОО, без ограничений по объему доходов / расходов, видам деятельности или принадлежности крупным структурам;
					li профессиональный – наша инициатива идет «от сектора», а не извне (коммерческие рейтинговые агентства, государство и пр.).