.news-detail {
	max-width: 854px;
	margin-left: auto;
	margin-right: auto;

	&__hr {
		margin-top: 50px;
		margin-bottom: 50px;
		@include topDottedBorder();
		height: 1px;
	}

	&__datetime {
		color: var(--c-text2);
		display: flex;
		flex-direction: row;
		font-weight: 400;
		font-size: 14px;
		line-height: 143%;
		letter-spacing: -0.02em;

		li {
			&::after {
				content: ' · ';
				display: inline-block;
				margin-left: 10px;
				margin-right: 10px;
			}

			&:last-child {
				&::after {
					display: none;
				}
			}
		}
	}
}