h2,
.h2 {
	font-weight: 300;
	font-size: 32px;
	line-height: 112%;
	margin-top: 20px;
	margin-bottom: 10px;
	letter-spacing: -0.02em;
}

h3,
.h3 {
	font-weight: 500;
	font-size: 24px;
	line-height: 117%;
	letter-spacing: -0.02em;
	margin-top: 20px;
	margin-bottom: 10px;
}

p {
	font-weight: 300;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: -0.02em;
	margin: 10px 0;
}

.typography {
	ul {
		display: flex;
		flex-direction: column;
		gap: 10px;

		li {
			position: relative;
			padding-left: 30px;
			font-weight: 300;
			font-size: 14px;
			line-height: 143%;
			letter-spacing: -0.02em;

			&::after {
				width: 3px;
				height: 3px;
				background: currentColor;
				position: absolute;
				left: 8px;
				top: 8px;
				display: block;
				content: '';
			}
		}
	}

	ol {
		display: flex;
		flex-direction: column;
		gap: 10px;

		counter-reset: list 0;

		li {
			counter-increment: list 1;
			position: relative;
			padding-left: 20px;
			font-weight: 300;
			font-size: 14px;
			line-height: 143%;
			letter-spacing: -0.02em;

			&::after {

				position: absolute;
				left: 0px;
				width: 16px;
				top: 0;
				text-align: right;
				display: block;
				content: counter(list)".";
			}
		}
	}
}

.text-block {
	margin-bottom: 50px;

	img {
		border-radius: var(--border-radius);
	}
}

.quote {
	background: #fff;
	padding: 40px 30px;

	&__icon {
		display: block;
		width: 20px;
		height: 20px;
		margin-bottom: 20px;
	}

	p {
		color: var(--c-text2);
	}

	&__autor {
		@include topDottedBorder();
		padding-top: 20px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 15px;
	}

	&__autor-name {
		font-weight: 500;
		font-size: 16px;
		line-height: 137%;
	}

	&__autor-desc {
		font-weight: 500;
		font-size: 16px;
		line-height: 137%;
		color: var(--c-text2);
	}

	&__autor-img {
		width: 80px;
		height: 80px;
		border-radius: 50% !important;
		object-fit: cover;
	}
}

.two-img {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;

	img {
		aspect-ratio: 422/300;
		object-fit: cover;
	}
}

.background-block {
	background: var(--backgrpaund-block-bg);
	border-radius: var(--backgrpaund-block-color);
	padding: 40px 30px;
	color: #fff;

	h2,
	.h2,
	.h3,
	h3 {
		&::first-child {
			margin-top: 0;
		}
	}
}