.breadcrumbs {

	margin-bottom: 40px;

	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__item {
		color: var(--c-text2);
		font-size: 14px;
		font-weight: 400;
		line-height: 136%;

		a {


			line-height: 143%;
			letter-spacing: -0.02em;

			&:hover {
				color: var(--c-hover);
			}
		}

		&::after {
			display: inline-block;

			content: '|';
			margin: 0 10px 0 10px;
		}

		&:last-child {
			&::after {
				display: none;
			}
		}
	}

}